#What ia series?#

1. A Pandas 'Series' is like a single column in a table.

2. It is a one-dimensional array holding data of any type.

In [3]:
import pandas as pd

a = [1, 10, 3]

myvar = pd.Series(a)

print(myvar)

0     1
1    10
2     3
dtype: int64

##Labels##

If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

In [4]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar[0])

1

##Create Labels##

With the index argument, you can name your own labels.

In [7]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [10]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar["y"])

7

##Key/Value Objects as Series##

You can also use a key/value object, like a dictionary, when creating a Series.

In [11]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.

In [12]:
#Create a Series using only data from "day1" and "day2":

import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

#Data Frames#

1. Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

2. Series is like a column, a DataFrame is the whole table.

In [15]:
#Create a DataFrame from two Series:

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

##Doing same thing for above data but with Series##

You can see the differance, the data is prited in just a single dimension

In [16]:
#Create a DataFrame from two Series:

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.Series(data)

print(myvar)

calories    [420, 380, 390]
duration       [50, 40, 45]
dtype: object